[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git

[submodule "bundle/vim-flow"]
	path = bundle/vim-flow
	url = git://github.com/facebook/vim-flow.git

[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git

[submodule "bundle/vim-ledger"]
	path = bundle/vim-ledger
	url = git@github.com:ledger/vim-ledger.git

[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
