[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git

[submodule "bundle/vim-ledger"]
	path = bundle/vim-ledger
	url = git@github.com:ledger/vim-ledger.git

[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git

[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim

[submodule "pack/coc/start/coc.nvim"]
	path = pack/coc/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
